.wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 8px 16px;
    cursor: pointer;

    .image-product {
        width: 50px;
    }

    .info {
    }

    .name {
        font-size: 1.4rem;
        font-weight: 500;
        letter-spacing: 0.3px;
        &:hover {
            color: var(--color-hover);
        }
    }

    .description {
        color: var(--color-hover);
        font-size: 1.4rem;
        font-weight: 500;
    }

    .price-discount {
    }

    .price-real {
        margin-left: 5px;
        color: #000;
        text-decoration: line-through;
        font-weight: 400;
        font-size: 1.35rem;
    }
}
