.wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 1150px;
    display: flex;
    margin-top: 62px;
}

.content {
    flex: 1;
}
